

body{
    background-color: rgb(255,161,213);
    font-family:'Comic Sans MS', 'Comic sans', cursive;
    width: 89%;
    padding: 0%;
    margin: auto;
    color: rgb(158,30,101);
    flex-grow: 1;
}

h2 {
    color: rgb(158,30,101);
    text-align: center;
    border: 0%;
    padding: 0%;
    margin: 0%;
}

p {
    text-align: center;
    border: 2%;
}

img {
    border: 0%;
    margin: 0%;
}

.afbeelding img {
    width: 17%;
    height: 10%;
    float: center;
    top: 1%
}

.afbeelding {
    display: flex;
    justify-content: center;
    position: relative;
}

.text {
    position: absolute;
    margin: 3%;
}

.column {
    float: none;
    width: 50%;
  }
  
  
  .row:after {
    content: "";
    clear: both;
  }
  
/* Dit is van educative.io */
    .left {
        width: 25%;
        float: left;
        background-color: rgb(255,161,213);
        margin: auto;
    }

    .fitting {
        display: flex;
        position: relative;
    }

    .fitting img {
        width: 200px;
        height: 434px;
        position: relative;
        right: 15%;
    }

    .middle {
        width: 35%;
        border: 20px;
        justify-content: center;
        position: relative;
    }

    .klikscherm {
        display: flex;
        position: relative;
    }

    .klikscherm img {
        width: 700px;
        position: relative;
        right: 42%;
        top: 10%;
        bottom: 50%;
    }

    .paskamer {
        width: 50%;
        margin-left: 15%;
        margin-right: 25%;
        flex-grow: 1;
    }

    .schoonheidssalon {
        width: 50%;
        margin-right: 15%;
        flex-grow: 1;
    }
    
    .right {
        width: 25%;
        float: right;
        margin: auto;
    }

    .groot {
        display: flex;
    }

    .footer {
        position: sticky;
        margin-top: auto;
        margin-bottom: 0%;
        width: 100%;
        background-color: rgb(214,113,169);
        color: rgb(158,30,101);
        text-align: none;
        display: flex;
      }

    .instellingen img {
        display: flex;
        justify-content: right;
        position: absolute;
        width: 2%;
        height: 4%;
        float: right;
        right: 2%;
        top: 2%
    }